.contacts {
  &__table-cell_left {
    min-width: 70px;
  }
  &__table-line {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }
  &__table-cell_right {
    border-bottom: 1px solid #63d1bb;
  }
  &__map {
    margin-top: 40px;
    width: 320px;
    position: relative;
    margin-left: -30px;
    margin-bottom: 40px;
  }
  &__table-cell_width {
    width: 145px;
  }
}
@media (min-width: $tablet-width){
  .contacts{
  &__map {
    margin-top: 40px;
    width: 768px;
    height: 457px;
    position: relative;
    margin-left: -30px;
    margin-bottom: 40px;
  }
}
}
