.button {
  @include reset-btn();
  width: 260px;
  height: 52px;
  border: 2px solid #444444;
  text-align: center;
  font-weight: $bold;
  line-height: 20px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
}
.button:hover {
  @include reset-btn();
  width: 260px;
  height: 52px;
  border: 2px solid #444444;
  text-align: center;
  font-weight: $bold;
  line-height: 20px;
  font-size: 17px;
  color: #ffffff;
  background-color: #444444;
  text-transform: uppercase;
  transition: 0.3s;
}
.button:active {
  @include reset-btn();
  width: 260px;
  height: 52px;
  border: 2px solid #444444;
  text-align: center;
  font-weight: $bold;
  line-height: 20px;
  font-size: 17px;
  color: #ffffff;
  background-color: #444444;
  text-transform: uppercase;
  opacity: 30%;
}
.button-small:hover {
  @include reset-btn();
  width: 260px;
  height: 52px;
  border: 2px solid #444444;
  text-align: center;
  font-weight: $bold;
  line-height: 20px;
  font-size: 17px;
  color: #ffffff;
  background-color: #444444;
  text-transform: uppercase;
  transition: 0.3s;
}
.button-small:active {
  @include reset-btn();
  width: 260px;
  height: 52px;
  border: 2px solid #444444;
  text-align: center;
  font-weight: $bold;
  line-height: 20px;
  font-size: 17px;
  color: #ffffff;
  background-color: #444444;
  text-transform: uppercase;
  opacity: 30%;
}
.button_without-border {
  @include reset-btn();
  width: 260px;
  height: 52px;
  border: none;
  text-align: center;
  font-weight: $bold;
  line-height: 20px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
}
.button-video {
  @include reset-btn();
  width: 192px;
  height: 52px;
  border: 2px solid #444444;
  text-align: center;
  font-weight: $bold;
  line-height: 16px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
}
.button-video:hover {
  @include reset-btn();
  width: 192px;
  height: 52px;
  border: 2px solid #444444;
  text-align: center;
  font-weight: $bold;
  line-height: 16px;
  font-size: 17px;
  color: #ffffff;
  background-color: #444444;
  text-transform: uppercase;
  transition: 0.3s;
}
.button-video:active {
  @include reset-btn();
  width: 192px;
  height: 52px;
  border: 2px solid #444444;
  text-align: center;
  font-weight: $bold;
  line-height: 16px;
  font-size: 17px;
  color: #ffffff;
  background-color: #444444;
  text-transform: uppercase;
  opacity: 30%;
}
.button-small {
  @include reset-btn();
  width: 260px;
  height: 52px;
  border: 2px solid #444444;
  text-align: center;
  font-weight: $bold;
  line-height: 20px;
  font-size: 17px;
  color: #444444;
  text-transform: uppercase;
}
@media (min-width: $tablet-width) {
  .button-small {
    @include reset-btn();
    width: 175px;
    height: 52px;
    border: 2px solid #444444;
    text-align: center;
    font-weight: $bold;
    line-height: 20px;
    font-size: 17px;
    color: #444444;
    text-transform: uppercase;
  }
  .button-small:hover {
    @include reset-btn();
    width: 175px;
    height: 52px;
    border: 2px solid #444444;
    text-align: center;
    font-weight: $bold;
    line-height: 20px;
    font-size: 17px;
    color: #ffffff;
    background-color: #444444;
    text-transform: uppercase;
    transition: 0.3s;
  }
  .button-small:active {
    @include reset-btn();
    width: 175px;
    height: 52px;
    border: 2px solid #444444;
    text-align: center;
    font-weight: $bold;
    line-height: 20px;
    font-size: 17px;
    color: #ffffff;
    background-color: #444444;
    text-transform: uppercase;
    opacity: 30%;
  }
  .button-video {
    @include reset-btn();
    width: 584px;
    height: 52px;
    border: 2px solid #444444;
    text-align: center;
    font-weight: $bold;
    line-height: 16px;
    font-size: 17px;
    color: #444444;
    text-transform: uppercase;
  }
  .button-video:hover {
    @include reset-btn();
    width: 584px;
    height: 52px;
    border: 2px solid #444444;
    text-align: center;
    font-weight: $bold;
    line-height: 16px;
    font-size: 17px;
    color: #ffffff;
    background-color: #444444;
    text-transform: uppercase;
    transition: 0.3s;
  }
  .button-video:active {
    @include reset-btn();
    width: 584px;
    height: 52px;
    border: 2px solid #444444;
    text-align: center;
    font-weight: $bold;
    line-height: 16px;
    font-size: 17px;
    color: #ffffff;
    background-color: #444444;
    text-transform: uppercase;
    opacity: 30%;
  }
}
@media (min-width: $desktop-width) {
  .button-video {
    @include reset-btn();
    width: 230px;
    height: 52px;
    border: 2px solid #444444;
    text-align: center;
    font-weight: $bold;
    line-height: 16px;
    font-size: 17px;
    color: #444444;
    text-transform: uppercase;
  }
}

