.footer {
  &__logo-container {
    display: none;
  }
  &__logo-container:hover {
    opacity: 60%;
    filter: invert(82%) sepia(41%) saturate(489%) hue-rotate(109deg)
      brightness(88%) contrast(84%);
   }
   &__logo-container:active {
    opacity: 30%;
    filter: invert(82%) sepia(41%) saturate(489%) hue-rotate(109deg)
      brightness(88%) contrast(84%);
   }
  &__social-list {
    @include reset-list();
    display: flex;
    margin-top: 30px;
    transition: 0.3s;
  }
  &__social-list:hover {
    opacity: 60%;
    filter: invert(82%) sepia(41%) saturate(489%) hue-rotate(109deg)
      brightness(88%) contrast(84%);
   }
   &__social-list:active {
    opacity: 30%;
    filter: invert(82%) sepia(41%) saturate(489%) hue-rotate(109deg)
      brightness(88%) contrast(84%);
   }
  &__social-link {
    position: relative;
  }
  &__social-link_inst::before {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    left: 90px;
    background-image: url(./../../img/icon-insta.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  &__social-link_face::before {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    left: 140px;
    background-image: url(./../../img/icon-fb.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  &__social-link_twit::before {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    left: 190px;
    background-image: url(./../../img/icon-twitter.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  &__html-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: #000000;
    font-weight: $bold;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  &__html-container:hover {
   opacity: 60%;
  }
  &__html-container:active {
   opacity: 30%;
  }
  &__html-img {
    margin-left: 20px;
    margin-top: 10px;
    filter: invert(82%) sepia(41%) saturate(489%) hue-rotate(109deg)
      brightness(88%) contrast(84%);
  }
}
@media (min-width: $tablet-width) {
  .footer {
    height: 142px;
    background-color: #f1f1f1;
    &__social-list {
      margin-left: 0px;
    }
    &__logo-container {
      display: block;
      margin-right: 50px;
    }
    &__html-container {
      display: flex;
      margin-top: 0px;
      border-top: 0px solid rgba($color: #000000, $alpha: 0.1);
    }
    &__social-container {
      display: flex;
      justify-content: space-around;
      padding-top: 50px;
    }
    &__social-link_inst::before {
      content: "";
      width: 28px;
      height: 28px;
      position: absolute;
      left: -70px;
      top: -15px;
    }
    &__social-link_face::before {
      content: "";
      width: 28px;
      height: 28px;
      position: absolute;
      left: 0px;
      top: -15px;
    }
    &__social-link_twit::before {
      content: "";
      width: 28px;
      height: 28px;
      position: absolute;
      left: 60px;
      top: -15px;
    }
  }
}
