.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__week {
    font-weight: $bold;
    line-height: 20px;
    font-size: 17px;
    color: #63d1bb;
    text-transform: uppercase;
  }
  &__name {
    @include h2();
  }
  &__table-line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  }
  &__table-cell {
    text-align: left;
  }
  &__table-cell_right {
    min-width: 160px;
  }
  &__img-container {
    margin-top: 30px;
    order: 0;
  }
  &__price {
    text-align: center;
    font-weight: $bold;
    line-height: 20px;
    font-size: 17px;
    color: #444444;
  }
  &__img-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: $tablet-width) {
  .product {
    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 50px;
      margin-top: 60px;
      margin-bottom: 35px;
    }
    &__week {
      width: 60px;
      line-height: 17px;
    }
    &__wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 672px;
    }
    &__text-container {
      width: 300px;
      margin-right: 35px;
      margin-top: 5px;
    }
    &__container {
      display: flex;
      margin-top: 10px;
      margin-bottom: 115px;
    }
    &__price-container {
      margin-left: -330px;
      margin-top: -160px;
    }
    &__price {
      margin-top: 52px;
      margin-bottom: 30px;
      line-height: 24px;
      font-size: 20px;
      margin-left: -390px;
    }
    &__table-cell {
      text-align: left;
      padding-bottom: 10px;
    }
    &__table {
      margin-top: 56px;
    }
    &__description {
      font-size: 17px;
      line-height: 30px;
    }
    &__img-container {
      order: 0;
    }
  }
}
@media (min-width: $desktop-width) {
  .product {
    &__main {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-right: 50px;
      margin-top: 60px;
      margin-bottom: 35px;
    }
    &__name {
      font-weight: $bold;
      font-size: 53px;
      line-height: 57px;
      color: #000000;
    }
    &__week {
      position: absolute;
      left: 5px;
      line-height: 17px;
      font-size: 17px;
    }
  }
}
