$font-main:"Open Sans";
$main-font-size:15px;
$light:300;
$bold:700;
$color-main:#444444;
$background-color-main:#ffffff;
$h1-font-size:27px;
$h2-font-size:25px;
$h1-color:#000000;
$h2-color:#000000;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$tablet-width: 768px;
$desktop-width: 1200px;
